# Run every 10 minutes 
*/10 * * * * python /gradescopeCronJob/gradescope_to_spreadsheet.py >> /var/log/cron.log 2>&1

# Run once at startup
@reboot python /gradescopeCronJob/gradescope_to_spreadsheet.py >> /var/log/cron.log 2>&1
